@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(./fonts//Montserrat/Montserrat-Regular.ttf) format('truetype');
    src: local('Montserrat'), url(./fonts//Montserrat/Montserrat-SemiBold.ttf) format('truetype');
    src: local('Montserrat'), url(./fonts//Montserrat/Montserrat-Bold.ttf) format('truetype');
  }

h1 {
    margin: 1rem 0 !important;
}

.container {
    .card-body {
        h3 {
            font-weight: 700;
            font-family: Montserrat,sans-serif;
        }
        .card-text {
            border-bottom: 1px solid #000;
            padding-bottom: 1rem;
        }
        .specs {
            border-bottom: 1px solid #000;
            h5 {
                border-bottom: 1px solid #000;
                padding-bottom: 0.5rem;
                display: block;
            }
        }
        ul {
            padding-left: 0px;
            li {
                list-style-type: none;
                text-align: left;
                span {
                    font-weight: 700;
                }
            }
        }
        .prices {
            margin-top: 1rem;
            .ask-price {
                color: #fd7e14;
                font-weight: 700;
                font-size: 1.25rem;
            }
            .sold-price {
                color: #27AB71;
                font-weight: 700;
                font-size: 1.25rem;
                text-align: left;
            }
            .status {
                font-size: 1.5rem;
                text-transform: capitalize;
                color: #dc3545;
            }
        }
        .seller {
            background-color: #000;
            color: #fff;
            padding: 1rem;
            border-radius: 4px;
            font-size: 1.5rem;
            margin-top: 1rem;
            > small {
                display: block;
                margin: 0.5rem 0;
                span {
                    display: block;
                }
            }
        }
    }
}